{% extends "base.html" %}
{% block title %}Death Stranding{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1> 
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-right"><span>{{ article.author.username }} 
            </span><span style="margin-right:50px">{{ publish }}</span>
        </p>
<div>{{ article.body }}</div> 
    </div>
    <div class="col-xs-6 col-md-4"> 
        <h2 class='text-right'>Good to  Extinct</h2>
        <img width="500px" src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1576394952694&di=6a24d5a7acbf6eeb70f210f583a4794b&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2Fa7234229cd5140810711cfbbec910b6eff03c657.jpg'>
    </div>
</div>
{% endblock %}
